# Exclut environnements virtuels (venv, env), fichiers Python compilés (__pycache__, *.pyc), 
# dossiers static/media, fichiers environnement,
# logs/temporaires (*.log, *.tmp), configurations IDE.

venv/
env/
__pycache__/
*.pyc
.env*
static/
media/
.env
.idea/
.vscode/
*.{log,tmp,temp}
/staticfiles/
