{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Home Page" %}{% endblock %}

{% block content %}
        <div class="card mt-2">
            <div class="card-header">
                <strong>{% trans "Category" %}: {{ expense.category.name }}</strong>
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <h5 class="card-title">{{ expense.sub_category.name }}</h5>
                    <p>{% trans "Cost" %}: {{ expense.cost }}</p>
                    <p>{% trans "Comment" %}: {{ expense.commentary }}</p>
                    <p>{% trans "Document" %}: {{ expense.expensedocument }}</p>
                </div>
            </div>
            <div class="card-footer text-muted">
                {% trans "Posted on" %}: {{ expense.date }}
            </div>
        </div>
<p>{% trans "No expenses recorded yet" %}</p>
 {% endblock %}