{% extends 'fExtra/base.html' %}
{% load i18n %}

{% block title %}{% trans "My Folders" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{% trans "My Folders" %}</h2>
    {% if folders %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Parent 1" %}</th>
                <th>{% trans "Parent 2" %}</th>
                <th>{% trans "Created at" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for folder in folders %}
            <tr>
                <td>{{ folder.parent1.first_name }} {{ folder.parent1.last_name }}</td>
                <td>{{ folder.parent2.first_name }} {{ folder.parent2.last_name }}</td>
                <td>{{ folder.created_at }}</td>
                <td>
                    <a href="{% url 'Payments:folder_payment_history' folder.id %}" class="btn btn-info">
                        {% trans "View Payment History" %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>{% trans "You have no folders." %}</p>
    {% endif %}
</div>
{% endblock %}
