<!DOCTYPE html>
{% load i18n static language_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}{% trans "Neok Platform" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fExtra/css/base.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">{% trans "Neok Platform" %}</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/accounts/login" class="nav-link align-middle px-0">
                            <i class="fs-4 bi bi-journal-check"></i> <span class="ms-1 d-none d-sm-inline">{% trans "Sign-in" %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/accounts/register" class="nav-link align-middle px-0">
                            <i class="fs-4 bi bi-journal-plus"></i> <span class="ms-1 d-none d-sm-inline">{% trans "Sign-up" %}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">{% trans "Home" %}</span>
                        </a>
                    </li>
                    {% if request.user.is_staff %}
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">{% trans "Accounts" %}</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/accounts/list" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>{% trans "List All" %}</a>
                            </li>
                            <li>
                                <a href="/accounts/register" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>{% trans "Add Parent" %}</a>
                            </li>
                            <li>
                                <a href="/accounts/register-magistrate" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>{% trans "Add Magistrate" %}</a>
                            </li>
                            <li>
                                <a href="/accounts/update/{{ request.user.id }}/" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>{% trans "Profile" %}</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endif %}
                    <li>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-ui-checks-grid"></i> <span class="ms-1 d-none d-sm-inline">{% trans "Languages" %} ({{ LANGUAGE_CODE }})</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            {% for lang in LANGUAGES %}
                            {% if lang.0|compare_codes != LANGUAGE_CODE|compare_codes %}
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 language-selector" data-language="{{ lang.0 }}">
                                    <span class="d-none d-sm-inline">{{ lang.1 }}</span>
                                    {{ lang.0|cut:"_BE"|cut:"-BE" }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    {% if request.user.is_authenticated %}
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile_image.url }}" alt="{{ request.user.get_full_name }}" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">
                            {% if request.user.first_name and request.user.last_name %}
                                {{ request.user.last_name }} {{ request.user.first_name|first|upper }}.
                            {% else %}
                                {{ request.user.email }}
                            {% endif %}
                            {% if request.user.is_administrator %}
                                <small>({% trans "Administrator" %})</small>
                            {% elif request.user.is_magistrate %}
                                <small>({% trans "Magistrate" %})</small>
                            {% elif request.user.is_parent %}
                                <small>({% trans "Parent" %})</small>
                            {% endif %}
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/accounts/update/{{ request.user.id }}/">{% trans "Profile" %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="{% url 'accounts:logout' %}" method="post" class="d-flex">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link">{% trans "Logout" %}</button>
                            </form>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col py-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'fExtra/js/base.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
